@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "inter", sans serif;
  --font-display: inter, sans serif;
  --font-mono: "inter", sans serif;

  --color-base-50: #ffffff;
  --color-base-100: #eaeaea;
  --color-base-200: #d6d6d6;
  --color-base-300: #b5b5b5;
  --color-base-400: #8c8c8c;
  --color-base-500: #666666;
  --color-base-600: #444444;
  --color-base-700: #2e2e2e;
  --color-base-800: #1c1c1c;
  --color-base-900: #0f0f0f;
  --color-base-950: #000000;
}

/* CSS GLOBAL */
:root {
  font-family: inter, sans serif;
}

:root {
  --astro-code-color-text: #000000;
  --astro-code-background: #0b0b0b;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #00000050;
  --astro-code-token-comment: #00000060;
  --astro-code-token-keyword: black;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: black;
  --astro-code-token-string-expression: #2522fc;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}

/* fondo global opcional */
html, body {
  background: #fffff;
  color: #000000;
}
