<footer class="py-10 border-t border-base-200 flex flex-col items-center gap-2">
  <p class="text-xs text-base-500 text-center max-w-md">
    Diseñado por
  </p>
  <img 
    src="/cerdan icon.png" 
    alt="Logo de diseñador" 
    class="w-20 h-20 object-contain opacity-90"
  />

</footer>
