<footer class="py-12 border-t border-base-200 flex flex-col items-center gap-4">
  <p class="text-xs text-base-500 text-center max-w-md">
    Diseñado por
  </p>
  <img 
    src="/cerdan icon.png" 
    alt="Logo e diseñador" 
    class="w-10 h-10 object-contain opacity-90"
  />

</footer>
