<div
  x-data="{ open: false }"
  class="w-full flex flex-col md:flex-row items-center justify-between gap-24 md:gap-32 px-10 py-4 md:py-8"
  style="background-color: #ffffff;"
>

  <!-- LOGO -->
   <div class="flex items-center w-auto">
    <a href="/" class="flex items-center">
  <img
    src="/logo.png"
    alt="Expiatoriovoyeur"
    class="h-16 w-auto"
  />
</a>

    <!-- MOBILE BUTTON -->
    <button
      @click="open = !open"
      class="md:hidden text-base-900"
    >
      ☰
    </button>
  </div>

  <!-- NAV LINKS -->
  <nav
    :class="{'flex': open, 'hidden': !open}"
    class="flex-col md:flex md:flex-row gap-6 mt-4 md:mt-0 md:items-center hidden"
  >
    <a
      href="https://expiatoriovoyeur.com/formularios"
      class="text-sm text-base-50 px-3 py-1 rounded-lg bg-[#B70538] hover:bg-black hover:text-white"
    >
      Sumate

    <a href="/artistas" class="text-sm text-base-700 hover:text-black">
      Artistas
    </a>

    <a href="/entrevistas" class="text-sm text-base-700 hover:text-black">
      entrevistas
    </a>

    <a href="/archivo" class="text-sm text-base-700 hover:text-black">
      archivo
    </a>

 <a href="/exposiciones" class="text-sm text-base-700 hover:text-black">
      exposiciones
    </a>

    <a href="/Acerca de" class="text-sm text-base-700 hover:text-black">
      Acerca de
    </a>

    </a>

  </nav>

</div>
