<div
  x-data="{ open: false }"
  class="w-full flex flex-col md:flex-row items-center justify-between gap-8 md:gap-16 px-10 py-12"
  style="background-color: #B70538;"
>

  <!-- LOGO -->
   <div class="flex items-center w-auto">
    <a href="/" class="flex items-center">
  <img
    src="/logo.png"
    alt="Expiatoriovoyeur"
    class="h-16 ml-4 md:ml-5 w-auto"
  />
</a>

    <!-- MOBILE BUTTON -->
    <button
      @click="open = !open"
      class="md:hidden text-base-900"
    >
      ☰
    </button>
  </div>

  <!-- NAV LINKS -->
  <nav
    :class="{'flex': open, 'hidden': !open}"
    class="flex-col md:flex md:flex-row gap-6 mt-4 md:mt-0 md:items-center hidden"
  >

    <a href="/artistas" class="text-sm text-base-700 hover:text-black">
      Artistas
    </a>

    <a href="/exposiciones" class="text-sm text-base-700 hover:text-black">
      Exposiciones
    </a>

    <a href="/sobre" class="text-sm text-base-700 hover:text-black">
      Nosotros
    </a>

    <a
      href="https://github.com/"
      class="text-sm px-3 py-1 border rounded-full hover:bg-black hover:text-white"
    >
      Ver más
    </a>

  </nav>

</div>
